<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container d-flex justify-content-between">
    <!-- Botão hamburguer à esquerda -->
    <button
      class="navbar-toggler order-1"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Nome/logo à direita -->
    <a class="navbar-brand ms-auto order-2" routerLink="/inicio">ProjetoFIFA</a>

    <!-- Menu colapsável -->
    <div class="collapse navbar-collapse order-3" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/sbc" routerLinkActive="active">SBC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rush" routerLinkActive="active">RUSH</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/rivals" routerLinkActive="active">Rivals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/futchampions" routerLinkActive="active">Fut Champions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/objetivos" routerLinkActive="active">Objetivos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
